---
layout: page
title: Projects
---

<section class="list">
    {% for project in site.project %}
        <div class="item {% if project.star %}star{% endif %}">
            <a class="url" href="{% if project.externalLink %}{{ project.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                <aside>
                <time datetime="{{ project.date | date:"%d-%m-%Y" }}">{{ project.date | date: "%b %Y" }}</time>
                </aside>
                <h3 class="title">{{ project.title }}</h3>
                <div class="description">{{ project.description }}</div>
                {% if site.show-tags %}
                    <div class="tags">
                        {% for tag in project.tags %}
                            <a class="tag" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </a>
        </div>
        <div class="breaker"></div>
    {% endfor %}
</section>

