<section class="author">
    <div class="toleft">
        <img class="selfie" src="{% if site.authors[page.author].external-image == true %}{{ site.authors[page.author].picture }}{% else %}{{ site.url }}/{{ site.authors[page.author].picture }}{% endif %}" alt="{{ site.authors[page.author].name }}" alt="author selfie">
    </div>

    <div class="toright">
        <h4 class="name">{{ site.authors[page.author].name }}</h4>
        <p class="bio">{{ site.authors[page.author].bio }}</p>
        <br>
        {% if page.crosspost_to_medium == true %}
        {% assign medium_link = site.data.medium_crossposted[page.url] %}
            <a class="mediumref" href="{{ medium_link}}">
                    View, comment & clap on{% svg _svg/medium_monogram_empty.svg  class="icon" %}
            </a>
        {% endif %}
    </div>
</section>
