<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.url }}/assets/images/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}/assets/images/favicon/site.webmanifest">
<link rel="mask-icon" href="{{ site.url }}/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="{{ site.url }}/assets/images/favicon/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">