<footer class="footer-main">
    {{ site.name }} © {{ site.time | date: '%Y' }} <a class="link" style="vertical-align: baseline;" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
    <p class="extra">
        <!--
        Coded with
        <a class="link" style="font-size:14px" href={{ site.repo }}>
        ❤️
        </a>
        + 
        <a class="link" style="font-size:14px" href={{ site.repo }}>
        🍺
        </a>
        -->
        <br>
        Powered by:
        <br>
        <a class="link" style="font-size:14px">
        ❤️
        </a>
        + 
        <a class="link" style="font-size:14px">
        🍺
        </a>
        + 
        <a class="link" href={{ site.repo }}>
        {% svg _svg/gitlab.svg class="link icon" %}
        </a>
        + 
        <a class="link" href="https://netlify.com">
        {% svg _svg/netlify.svg class="link icon" %}
        </a>
        + 
        <a class="link" href="https://jekyllrb.com">
        {% svg _svg/jekyll.svg class="link icon" %}
        </a>
        + 
        <a class="link" href="https://usefathom.com">
        {% svg _svg/fathom.svg class="link icon" %}
        </a>
        <br>
        <a class="link" href={{ site.repo }}>Learn more...</a>
        <br>
        <br>
        <br>
        Theme based on <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo</a>
    </p>

</footer>
