{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}
    {% assign showHeader = true %}
    {% assign showPhoto = "small" %}
{% endif %}

{% if page.title == "About" %}
    {% assign showPhoto = "big" %}
{% endif %}


<header class="header-home {% if site.animation %}animated{% endif %}">

    {% if showPhoto == "small" %}
        <a class="link" href="{{ site.url }}{% if page.title == "Home" %}/about{% endif %}">
            <div class="selfie" alt="{{ site.name }}" style="background-image: url('{{ site.picture }}')" href="{{ site.url }}/about" /></div>
        </a>
    {% endif %}

    {% if showPhoto == "big" %}
        <a class="link" href="{{ site.url }}">
            <div class="big-selfie" alt="{{ site.name }}" style="background-image: url('{{ site.picture }}')" /></div>
        </a>
    {% endif %}

    {% if showHeader == true %}
        <h1 class="title">
            <span style="font-weight:300">
                {{ site.greeting }}
            </span>
            {{ site.name }}
        </h1>

        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}

    {% endif %}

</header>

{% include nav.html %}
