<span class="social-links">
<a class="link" style="display: inline; &before:bottom:60px;" data-title="My PGP/GPG key. Clik for more info" href="/about#crypto">
{% assign parts = site.pgp_fingerprint | split: ' ' %}
{% for part in parts limit:5 %}
{{ part }}
{% endfor %}
<br>
{{ parts[5] }}
<strong>
{% for part in parts offset:6 %}
{{ part }}
{% endfor %}
</strong>
<a>
</span>
