.home,
.blog,
.projects
    margin-top: 125px

    > .list
        border-top: 1px solid $epsilon
        margin-top: 30px
        padding-top: 40px
        position: relative

        &:before
            display: block
            content: " "
            width: 7px
            height: 7px
            border: $epsilon 1px solid
            position: absolute
            top: -5px
            left: 50%
            margin-left: -5px
            background: #FFF
            box-shadow: #FFF 0 0 0 5px
            border-radius: 3px

.home > .list,
.blog > .list,
.projects > .list
    > .item
        display: block
        width: 95%
        margin: 0 auto

    > .item > .url
        width: 100%
        display: block
        padding: 20px 0
        text-decoration: none

    > .item > .url > .title
        margin: 0
        width: 75%
        font-weight: 500
        transition: all ease-in-out .2s

    > .item:hover > .url > .title
        color: $delta

    > .item > .url > .description
        margin: 0rem
        font-weight: 300
        font-size: 1.5rem
        color: $gama

    > .item > .tags
        margin: 0rem
        color: $gama
        font-weight: 300
        font-size: 1.4rem
        text-transform: uppercase
        text-align: left
        display: inline-block
        margin-bottom: 2.5rem
        letter-spacing: 1px
        -webkit-font-smoothing: antialiased
        text-rendering: optimizeLegibility

    > .item > .tags > .tag
        padding: 2px 8px
        border-radius: 3px
        font-size: 1.1rem
        background: $epsilon
        color: $alpha
        letter-spacing: 1px
        margin: 3px 1px
        text-decoration: none
        display: inline-block

    > .item > .tags > .tag:hover
        color: $beta


    // maybe we can't nest html5 elements
    // can you help me?
    aside
        position: relative
        top: 2px
        margin: 0
        width: 25%
        float: right
        font-weight: 300
        color: $gama
        text-align: right
        transition: all ease-in-out .2s

    .item:hover .url aside
        color: $alpha

.blog > .list > .item > .url,
.projects > .list > .item > .url
    > .title
        display: inline

    > .emoji
        display: inline
        position: relative
        top: -4px
        margin-right: 10px
