.author
    padding: 3rem 0
    //border-bottom: 1px solid $epsilon
    //border-top: 1px solid $epsilon
    background: #fbfbfb
    border: 1px solid #f1f1f1
    border-radius: 10px
    max-width: 100%
    margin: 4rem auto 0

    > .toleft > .selfie
        margin-left: 40%
        margin-right: 20%
        width: 40%
        border-radius: 100%

    > .toright > .name,
    > .toright > .bio
        width: 60%
        display: inline-block

    > .toright > .name
        font-size: 1.5rem
        font-family: $fontSans
        font-weight: 500
        margin: 6px 0 0

        @media #{$mobile}
            width: 100%
            display: block

        @media #{$tablet}
            width: 100%
            display: block

    > .toright > .bio
        font-family: $fontSans
        font-weight: 300
        color: $gama
        font-size: 1.3rem
        text-align: justify
        line-height: 1.5
        margin: 0

        @media #{$mobile}
            width: 100%
            display: block

        @media #{$tablet}
            width: 100%
            display: block

    > .toright > .mediumref
        font-family: $fontSans
        font-weight: 300
        color: #333
        font-size: 1.5rem
        text-align: justify
        line-height: 1
        margin-top: 0.7em
        height: 2.5rem
        display: inline-block
        transition: all ease-in-out 0.2s
        //background: rgb(232,243,236)

        &:hover
            color: $delta
            > .icon
                background: rgb(232,243,236)
                fill: black

    > .toright > .mediumref > .icon
            height: 2rem
            width: auto
            vertical-align: middle
            margin-bottom: 10px
            margin-left: 0.5rem
            background: black
            fill: white
            transition: all ease-in-out 0.2s


    > .toleft
        width: 30%
        display: inline-block

        @media #{$mobile}
            width: 20%

        @media #{$tablet}
            width: 20%

    > .toright
        width: 69%
        display: inline-block
        vertical-align: top

        @media #{$mobile}
            width: 78%

        @media #{$tablet}
            width: 78%
