.header-home
    display: block
    margin: 0 auto
    text-align: center
    position: relative
    z-index: 99

    > .link
        > .selfie
            width: 125px
            height: 125px
            margin-bottom: 25px
            border-radius: 100%
            transition: all .2s
            box-shadow: 0
            background-size: 125px, 125px
            display: inline-block
            filter: saturate(0%)

            &:hover
                box-shadow: 0 0px 20px 0 rgba(0,0,0,0.18), 0 0px 30px 0 rgba(0,0,0,0.15)
                filter: saturate(100%)

        > .big-selfie
            width: 250px
            height: 250px
            border-radius: 5px
            background-size: 250px, 250px
            display: inline-block
            filter: saturate(100%)
            transition: all .2s

            &:hover
                box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18), 0 0px 12px 0 rgba(0,0,0,0.15)
                filter: saturate(0%)



    > .title
        font-size: 4rem
        margin: 0 0 13px

    > .description
        font-size: 1.85rem
        font-weight: 300
        font-style: normal
        color: $gama
        width: 70%
        margin: 0 auto 30px

        // if you put some links in your bio. ;)
        a
            font-weight: 200
