.social-links
    background: #f9f9f9
    border-radius: 25px
    margin-top: 20px

    > .link
        margin: 0
        text-decoration: none
        position: relative
        display: inline-block
        margin-left: 10px
        margin-right: 10px
        height: 35px
        width: 35px
        z-index: 10
        filter: saturate(0%)
        transition: filter ease-in-out .2s

        &:hover
            filter: saturate(100%)
            z-index: 20

        &:hover:before
            opacity: 1
            display: inline-block
            transform: translate3d(0,0,0)
            white-space: nowrap

        &:before
            content: attr(data-title)
            display: none
            position: absolute
            bottom: -150%
            left: -5%
            margin: 0 0
            font-size: 13px
            padding: 3px 10px
            background: $beta
            color: #fff
            border-radius: 2px
            height: -50%
            line-height: 22px
            opacity: 0
            transition: opacity 150ms linear, transform 150ms linear, -webkit-transform 150ms linear
            transform: translate3d(0,-18px,0)

        &:hover:after
            opacity: 1
            transform: translate3d(0,0,0)

    > .icon
        transition: all ease-in-out .2s
